<ul class='nav nav-tabs'>
	<li><a href='{{url ""}}/asts/api/create'>Design</a></li>
	<li><a href='{{url ""}}/asts/api/implement'>Implement</a></li>
	<li><a href='{{url ""}}/asts/api/manage'>Manage</a></li>
</ul>
<h1>Design API</h1>
<div>
	<a href='' class='btn'><i class='icon-download-alt'></i>Import Swagger Definition</a>
</div>
<legend>General Details</legend>
<legend>Resources</legend>
<hr/>
<a href='' class='btn'>Save</a>
<a href='' class='btn btn-primary'>Implement</a>
<a href='' class='btn btn-danger'>Cancel</a>
