<div class="sidebar-nav">
    <ul class="nav nav-list ">
        <li>
            <a href="">
                <i class=""/>Browse</a>
        </li>
        <li>
            <a href='{{url ""}}/asts/api/create'>
                <i class=""/>Add</a>
        </li>
        <li>
            <a href="">
                <i class=""/>All Statistics</a>
        </li>
    </ul>
</div>