{{#if ribbon.enabled}}
	<div class='row'>
	<h1>{{assets.name}}</h1>
	<a href="{{url ""}}/asts/api/update">
		<i class="icon-edit"></i>Edit
	</a>	
	</div>
		<ul class='nav nav-tabs'>
			<li><a href='#'><i class='icon-list-alt'></i>Overview</a></li>
			<li><a href='#'><i class='icon-list-alt'></i>Lifecycle</a></li>
			<li><a href='#'><i class='icon-th-list'></i>Versions</a></li>
			<li><a href='#'><i class='icon-file'></i>Docs</a></li>
			<li><a href='#'><i class='icon-user'></i>Users</a></li>
		</ul>
{{/if}}